<div class="md-framework-parent-panel-layout">
    <div class="md-framework-panel-content-container" style="width:100%; height:100%;" layout="column" layout-align="start start">
        <!-- <panelcontrol-component componentdata=""></panelcontrol-component> -->
        <perfect-scrollbar class="systemTrayScroller" id="systemTrayScroller" wheel-propagation="false" wheel-speed="2" suppressScrollX="true" layout="row" layout-align="center start">
            <div layout="row" layout-align="start start" layout-wrap class="md-framework-pannel-apptray">
                <div ng-repeat="componentdata in allApps | filter:globalSearchKeyword" appshortcut-component componentdata="componentdata" flex-sm="30" flex-md="20" flex-lg="20" flex-gt-lg="20" style="padding:10px;height:200px;"></div>

                <!--
              <md-menu ng-repeat="b in appBundles" md-theme="docs-dark">
    <md-button ng-click="$mdOpenMenu()">
        <div layout="column" layout-align="center center" layout-padding>
            <div class="md-applicationIcon-icon-section">
                <img ng-src="{{b.icon}}" err-src="images/appIcons/untitledapplication.png" width="64" height="64">
            </div>
            <div class="md-applicationIcon-appname-section">{{b.title}}</div>
        </div>
    </md-button>
    <md-menu-content width="4" layout="row" layout-align="start start" layout-wrap>
        <div ng-repeat="c in b.apps" appshortcut-component componentdata="c" flex-sm="50" style="padding:10px;height:200px;"></div>
    </md-menu-content>
</md-menu>
-->

            </div>
        </perfect-scrollbar>

    </div>
</div>
