<div layout="column" layout-align="start center" layout-padding style="
    width: 100%;margin-top: 48px; padding:0px;background-color: rgba(0, 0, 0, 0.0);transition: all 0.2s cubic-bezier(.55, 0, .1, 1);" ng-esc="closeCustomizingTray()" tabindex="0">

    <div class="selectedSystemPanel" ng-class="{'selectedSystemPanel-visible' : showTransition}" droppable>
        <perfect-scrollbar class="systemTrayScroller" wheel-propagation="false" wheel-speed="2">
            <div gridster="gridsterOpts">
                <ul>
                    <li gridster-item="customItemMap" ng-repeat="app in selectedPanel.panelComponents">
                        <md-button class="selectedSystemPanel-item" ng-dblclick="removeAppFromPanel(app,$event)" aria-label="collection panel item">
                            <div ng-if="app.comp_Type == 'appshortcut'" class="systemPanel-appItem" layout="column" layout-align="start center">
                                <img src="{{app.comp_Data.iconUrl}}" err-src="images/appIcons/untitledapplication.png">
                                <p>{{app.comp_Name}}</p>
                            </div>
                            <div ng-if="app.comp_Type !== 'appshortcut'">
                                <img src="{{app.comp_extra.widgetImage}}">
                            </div>
                        </md-button>
                    </li>
                </ul>
            </div>
        </perfect-scrollbar>
    </div>


    <md-button class="md-fab md-mini md-accent editPaneDoneButton" ng-class="{'editPaneDoneButton-visible' : showTransition}" ng-show="panelCustomizingTray" ng-click="closeCustomizingTray();" aria-label="close tray">
        <md-icon md-svg-icon="icons/ic_done_24px.svg" style="color:whitesmoke;"></md-icon>
    </md-button>

    <div class="appTray" ng-class="{'appTray-visible' : showTransition}" layout="row" layout-align="start start" layout-wrap style="background-color:{{$root.shellConfig.themeconfiguration.primarypalette}}">

        <md-tabs md-dynamic-height md-border-bottom class="customTab">
            <md-tab label="Applications">

                <!--                <perfect-scrollbar class="appTrayScroller" wheel-propagation="false" wheel-speed="2" layout="row">-->
                <md-content class="appTray-content" id="appTray-content" layout="row" layout-wrap>

                    <div flex="90" layout="row" layout-wrap>
                        <md-button ng-repeat="app in allApps | filter:filterAlreadyAdded" style="text-transform: none;
    padding: 3px;" aria-label="app">
                            <div class="appItem" layout="column" layout-align="start center" draggable id="app" panel="selectedPanel.panelTitle">
                                <img src="{{app.iconUrl}}" err-src="images/appIcons/untitledapplication.png">
                                <p>{{app.Name}}</p>
                            </div>
                        </md-button>
                    </div>

                    <div class="appTray-nav" layout="column" layout-align="center center">
                        <md-button ng-click="goToPrevStep()" aria-label="go to previous step">
                            <md-icon md-svg-icon="icons/ic_keyboard_arrow_up_24px.svg" alt="up" style="color:{{$root.shellConfig.themeconfiguration.accentpalette}}"></md-icon>
                        </md-button>
                        <md-button ng-click="goToNextStep()" aria-label="go to next step">
                            <md-icon md-svg-icon="icons/ic_keyboard_arrow_down_24px.svg" alt="down" style="color:{{$root.shellConfig.themeconfiguration.accentpalette}}"></md-icon>
                        </md-button>
                    </div>

                </md-content>
                <!--                </perfect-scrollbar>-->
            </md-tab>
            <md-tab label="Widgets">
                <!--                <perfect-scrollbar class="appTrayScroller" wheel-propagation="false" wheel-speed="2" layout="row">-->
                <md-content class="appTray-content" id="appTray-content">
                    <md-button ng-repeat="app in allWidgets | filter:filterAlreadyAdded" style="text-transform: none;
    padding: 3px;" aria-label="widget">
                        <div class="widgetItem" layout="column" layout-align="start center" draggable id="app" panel="selectedPanel.panelTitle">
                            <img src="{{app.image}}">
                        </div>
                    </md-button>
                </md-content>
                <!--                </perfect-scrollbar>-->
            </md-tab>
        </md-tabs>
    </div>
    </perfect-scrollbar>

</div>
